* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  margin: 93px;
  position: relative;
}

.box {
  padding: 10px;
  border: 2px solid #6d5b95;
  /* margin-bottom: 10px; */
}

.navbar {
  background-color: #feb236;
}

.content {
  background-color: #d64161;
}

.footer {
  background-color: #ff7b25;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}
