a {
  border: 1px solid gray;
  padding: 5px 8px;
  display: inline-block;
  width: 60px;
  text-decoration: none;
  text-align: center;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: white;
  background-color: yellow;
}

a:active {
  color: white;
  background-color: violet;
}
