@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;700&display=swap');
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery div {
  flex-grow: 1;
  margin: 3px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
}

img:hover {
  transform: scale(1.2);
}
