.container{
    /* inline elementler ucun */
    /* text-align: center; */

    /* block elementler ucun */
    /* float: right; */
}
.box{
    width: 150px;
    height: 150px;
    background-color: brown;
    float: right;
}
#box-1{
    float: left;
}